/*
 * Footer Styles
 */

.site-footer{
	
	text-align: center;
	padding: 50px 0;

	.social-links{
		margin-bottom: 30px;
		a{
			display: inline-block;
			width: 56px;
			height: 56px;
			text-align: center;
			border-radius: 50%;
			background-color: #e1e1e1;
			color: #929292;
			@include em(20);
			padding-top: 10px;
			transition: .3s ease;

			&:hover{
				background-color: $accent-color;
				color: white;
			}
		}
	}

}